.topnav {
    overflow: hidden;
    background-color: #161616;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnav a {
    float: left;
    color: #ffffff;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.topnav a.active {
    background-color: #ffffff;
    color: #e53838;
}
.topnav a:hover {
    background-color: #e53838;
    color: #ffffff;
}